@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@media (min-width: 2000px) {
  html {
    font-size: 0.85vw;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* ==============================
   Services
   ============================== */

:root {
  --ease-out-long: cubic-bezier(0, 0.5, 0, 1);
  --transition-default: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
.services-tabs {
  display: block;
  margin: 0;
  padding: 0 calc(40px + var(--services-text-overlap)) 0 0;
  border: none;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.037em;
}
.services-tabs > li {
  display: block;
  margin-bottom: 0.175em;
}
.services-tabs > li > a {
  position: relative;
  display: inline-block;
  padding-bottom: 0.06em;
  text-decoration: none;
  opacity: 0.27;
  transition: var(--transition-default);
}
.services-tabs > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
}
.services-tabs > li a:hover {
  color: unset;
  opacity: 0.5;
}
.services-tabs > li a.active:before {
  transform: scaleX(1);
}
.services-tabs > li > a > .number {
  position: absolute;
  top: 0.8em;
  left: calc(100% + 0.5em);
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  opacity: 0;
  transform: translateX(5px);
  transition: var(--transition-default);
}
.services-tabs > li a.active {
  opacity: 1;
}
.services-tabs > li a.active > .number {
  opacity: 1;
  transform: translateX(0);
}

.light-content .services-tabs > li > a {
  color: #fff;
  opacity: 0.4;
  transform: translateZ(0);
}
.light-content .services-tabs > li a:hover {
  opacity: 0.7;
}
.light-content .services-tabs > li > a.active {
  opacity: 1;
}

@media only screen and (max-width: 1536px) {
  .services-tabs {
    font-size: calc(1.194rem + 1.53vw);
  }
}
